
.env*

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

*.env
.DS_Store
db_data/
minio_data/
db_data-mlflow
db_data-prefect
services/dev/.*
services/nginx/htpasswd
papers
*accessKeys.csv
*.csv.gz